@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CalSans';
    src: url('../app/styles/fonts/CalSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../app/styles/fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'CalSans', sans-serif;
    overflow-x: hidden;
}

.background-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(styles/gif/snowflake.gif);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.content-wrapper {
    position: relative;
    z-index: 1;
    min-height: 100vh;
}