@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CalSans';
    src: url('../../public/styles/fonts/CalSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../public/styles/fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #282828;
    font-family: 'CalSans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-iframe {
        height: 56.25vw;
        /* 100 / (16/9) */
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-iframe {
        width: 177.78vh;
        /* 100 * (16/9) */
    }
}